In [6]:
import pandas as pd

employee_data = {
    'emp_id': [101, 102, 103, 104, 105, 106, 107, 108],
    'name': ['John', 'Sarah', 'Mike', 'Lisa', 'Tom', 'Emma', 'Alex', 'Rachel'],
    'department': ['IT', 'HR', 'IT', 'Finance', 'Marketing', 'IT', 'HR', 'Finance'],
    'salary': [75000, 65000, 80000, 90000, 60000, 85000, 70000, 95000],
    'experience_yrs': [3, 2, 5, 8, 1, 6, 2, 10],
    'join_date': ['2020-01-15', '2021-03-20', '2018-11-10', '2015-06-01', 
                  '2022-08-15', '2017-09-05', '2021-07-30', '2013-12-10']
}

employees = pd.DataFrame(employee_data)
employee_data

{'emp_id': [101, 102, 103, 104, 105, 106, 107, 108],
 'name': ['John', 'Sarah', 'Mike', 'Lisa', 'Tom', 'Emma', 'Alex', 'Rachel'],
 'department': ['IT',
  'HR',
  'IT',
  'Finance',
  'Marketing',
  'IT',
  'HR',
  'Finance'],
 'salary': [75000, 65000, 80000, 90000, 60000, 85000, 70000, 95000],
 'experience_yrs': [3, 2, 5, 8, 1, 6, 2, 10],
 'join_date': ['2020-01-15',
  '2021-03-20',
  '2018-11-10',
  '2015-06-01',
  '2022-08-15',
  '2017-09-05',
  '2021-07-30',
  '2013-12-10']}

ðŸ”¥ Question Set 1: Basic Exploration
Q1: Show me the first 3 employees in the dataset.

Q2: Who are the last 2 employees that joined the company?

Q3: Pick 2 random employees from the dataset to review.

Q4: How many employees and features does this dataset have?

Q5: What are the names of all the columns in this dataset?

In [11]:
# Correct answer:
first_three = employees.head(3)
print(first_three)

   emp_id   name department  salary  experience_yrs   join_date
0     101   John         IT   75000               3  2020-01-15
1     102  Sarah         HR   65000               2  2021-03-20
2     103   Mike         IT   80000               5  2018-11-10

In [13]:
last_two = employees.tail(2)
print(last_two)

   emp_id    name department  salary  experience_yrs   join_date
6     107    Alex         HR   70000               2  2021-07-30
7     108  Rachel    Finance   95000              10  2013-12-10

In [14]:
random_two = employees.sample(2)
print(random_two)

   emp_id  name department  salary  experience_yrs   join_date
3     104  Lisa    Finance   90000               8  2015-06-01
4     105   Tom  Marketing   60000               1  2022-08-15

In [16]:
count_no = employees.info()
print(count_no)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   emp_id          8 non-null      int64
 1   name            8 non-null      object
 2   department      8 non-null      object
 3   salary          8 non-null      int64
 4   experience_yrs  8 non-null      int64
 5   join_date       8 non-null      object
dtypes: int64(3), object(3)
memory usage: 516.0+ bytes
None

In [28]:
dataset_size = employees.columns

print(dataset_size)

Index(['emp_id', 'name', 'department', 'salary', 'experience_yrs',
       'join_date'],
      dtype='object')