In [2]:
print("Hello World!")

Hello World!

In [3]:
import pandas as pd

In [4]:
pd.DataFrame({'Yes':[50, 21], 'No':[131, 2]})

   Yes   No
0   50  131
1   21    2

In [5]:
 pd.DataFrame({'Bob':['Hello', 'World'], 'Sue': ['Hello', 'Man']}, index=['1', '2'])

     Bob    Sue
1  Hello  Hello
2  World    Man

In [6]:
pd.Series([1,2,3,4,5,6,7,8])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
dtype: int64

In [7]:
pd.Series([12, 34, 45], index = ['Math', 'Science', 'Health'], name = 'Subjects')

Math       12
Science    34
Health     45
Name: Subjects, dtype: int64

In [ ]:
# question from leetcode
To determine whether a country is considered `big`, there are two conditions to verify, as stated in the description:
The country must have an area of at least three million square kilometers, denoted as area >= 3,000,000.

The population of the country should be a minimum of twenty-five million, expressed as population >= 25,000,000.

In [2]:
import pandas as pd

def big_countries(world: pd.DataFrame) -> pd.DataFrame:
    df = world[(world['area'] >= 3000000) | (world['population'] >= 25000000)]
    return df[['name', 'population', 'area']]